<% provide(:title, "About") %>
	
	<div class="container">
		<div class="container-about group">
			<div class="row"> 
				<div class="large-5 columns">	
					<h1>Who is Chris?</h1>
				</div>
			</div>
			<div class="row">
				<div id="about-row-1">
					<div class="large-5 columns">
						<div id="about-picture">
							<%= image_tag "chriscolor.jpg" %>
						</div>
					</div>
					<div class="large-1 columns">
						<p></p>
					</div>
					<div class="large-6 columns text-paragraph">
						<div class="about-text">
							<h3>Mentor. Speaker. Attorney. Writer.</h3>
							<p>I'm passionate about helping others achieve their best.</p>
							<p>I'm an avid reader, learner, and student. I read a book a week or mroe. You should too. There's not much Im unwilling to try if I think that I can learn from it.</p>
							<p>When not spending time with my family, I enjoy working out, watching TED Talks, or trying to teach myself computer programming.</p> 
							<p>If I can be any help to you, please let me know. Lou Holtz once said, "The greatest compliment you can give someone is to tell them, 'You made a difference'" Accordingly, I'm always looking for such an opportunity. I'm interested in meeting new people and helping them to connect with others that may be able to help them reach that next level in whatever they are working on, personal, professional, or otherwise.</p>
						</div>
					</div>
				</div>
			</div>
			<!--<div class="row">
				<div class="large-12 columns paragraph-buffer">
						<p></p>
					</div>
			</div>-->
			<div class="row">
				<div class="row"> 
				<div class="large-5 columns">	
					<div id="long-bio">
						<h3>Long Bio...</h3>
					</div>
				</div>
			</div>
			</div>
			<div id="about-row-2"
				<div class="row">
					<div class="large-6 columns text-paragraph">
						<div class="about-text">
							<p>Born and raised just outside of Dayton, Ohio, I've been a life-long mid-westerner. A "towny" of sorts, I attended the University of Dayton for both undergrad and law school.</p>
							<p>In college I studied Political Science, but focused my study and course work on Leadership, Psychology, and decision making. I was intrigued by how some people, whether it be natural charisma or dogged perseverance, could motivate others to achieve more than they themselves even though possible. While in college, I joined an organization that changed my life: SigEp. In the Fraternity I was exposed to great leaders, mentors, and friends that challenged me to strive for excellence in all I did.</p>
							<p>After college, and I spent a short period of time in management and retail.</p>
						</div>
					</div>
					<div class="large-1 columns">
						<p></p>
					</div>
					<div class="large-5 columns">
						<div id="about-picture">
							<%= image_tag "Chris-car.JPG" %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>