<div id="disclaimer-container">
	<div class="row">
		<div class="large-12 columns">
			<div id="disclaimer-text">
				<h1><i class="fi-skull"></i>         Disclaimer    <i class="fi-safety-cone"></i></h1>
				<p>Nothing said on this website, in articles, in videos, or in person represents the view or opinions of anyone but myself. This is especially true with regard to my employer. These are my views and no one elses. Furthermore, nothing said on this website can be considered legal advice. No attorney-client relationship has been formed. If you are out of state, I'm not licensed to practice anywhere but Ohio. If I were to attempt to give you legal advice, that would be the unauthorized practice of law and is not permitted. If you're in Ohio, I can't give you legal advice because I am prevented from doing so by statute.</p>
				<p>Take everything I say with a grain of salt. In fact, you should do that with just about anyone (including that voice in your head).</p>
			</div>
		</div>
	</div>
</div>
