<div id="donate-container">
	<div class="row">
		<div class="large-8 columns">
			<h1>Donate</h1>
		</div>
	</div>
	<div class="row">
		<div class="large-8 columns">
			<div id="donate-picture">
				<%= image_tag "Flag.jpg" %>
			</div>
		</div>
		<div class="large-4 columns">
			<a href="https://secure3.convio.net/sigep/site/Donation2?1462.donation=form1&df_id=1462&_ga=1.1434481.1382465114.1428458540" class="button">Donate to SigEp</a>
		</div>
	</div>
	<div class="row">
		<div id="donate-text">
			<div class="large-8 columns">
				<h3>Virtue. Diligence. Brotherly Love.</h3>
				<p>In many ways, the man I am today is a direct result of the experience I had as a SigEp. And for that, I will be eternally grateful. If you know a SigEp, please send them my way. I'd love to connect. Below is a link to the SigEp Educational Foundation's giving page. They are doing great things to help build balanced leaders for the world's communities. If you have the ability, I hope you'll consider making a donation.</p>
			</div>
		</div>
	</div>
</div>