<% provide(:title, "Home") %>
<link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<div id="home-container-1">
	<div id="home-container-2">
		<div class="container group">
			<div id="home">
				<!--<div id="slider">
					<ul class="example-orbit-content" data-orbit>
					  <li data-orbit-slide="headline-1">
					    <div class="slider-slide">
					      <h2 style="color: white">Speaking</h2>
					      <h3 style="color: white">Lectures, Keynotes, Small groups.</h3>
					    </div>
					  </li>
					  <li data-orbit-slide="headline-2">
					    <div class="slider-slide">
					      <h2 style="color: white">Consulting</h2>
					      <h3 style="color: white">One-on-one, Small groups, Businesses.</h3>
					    </div>
					  </li>
					  <li data-orbit-slide="headline-3">
					    <div class="slider-slide">
					      <h2 style="color: white">Team Building</h2>
					      <h3 style="color: white">Strategic planning, Goal setting, Collaboration.</h3>
					    <div>
					  </li>
					</ul>
				</div>-->
			</div>
		</div>
		<div id="home-content">
			<h1 class="home-banner1">Progressive Realization</h1> 
			<h1 class="home-banner2"></h1>
			<h3 class="home-banner-subtitle">"Success is the progressive realization</h3>
			<h3 class="home-banner-subtitle">of some worthy goal or ideal."</h3>
			<p class="home-banner-subtitle">~Earl Nightengale, Author~</p>
		</div>
		<div id="image-assistance">
			<div>
			<p style="font-size: 30pt">test</p><i class="fi-social-twitter" style="font-size: 30pt">Twitter</i>
			<p style="font-size: 30pt">test</p><i class="fi-social-twitter" >Twitter</i>
		</div>
		
		<div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div>v<div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div><div>
			<p>test</p>
		</div>
	</div>
	</div>
