<!DOCTYPE html>
<html class="no-js" lang="en">
	<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ChrisBagi.com | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <title>Welcome</title>
  </head>
  <body>
  	<!-- Top Bar -->
  	<nav class="top-bar">
  		<ul class="title-area">
  			<li class="name">
  				<h1>
  					<a href="#">ChrisBagi.com</a>
  				</h1>
  			</li>
  			<li>

  			</li>
  		</ul>
  	<section class="top-bar-section">
   		<ul class="right">
   		</ul> 
<%= link_to 'My Blog', controller: 'articles' %>

<%= link_to 'New article', new_article_path %>
    </nav>
	       
        
        
    
    
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>

</html>


