<head>
	<% content_for :title, "Welcome | Chris Bagi" %>
</head>
<body>
	<!--<%= link_to 'Articles', controller: 'articles' %>
	<%= link_to 'New article', new_article_path %> -->

	<div class="container">

		<h1>test index in welcome folder</h1>


	</div>
</body>